@font-face { 
    font-family: 'GenshinFont'; 
    src: url('font/genshinFont.ttf'); 
} 

body {
    font-family: 'GenshinFont', sans-serif;
    background-color: #1c1c22;
    overflow-x: hidden;
    font-size: 105%;
}

header {
    position: relative;
    width: 100%;
    padding: 1px;
    padding-left: 15px;
    text-align: center;
    color: #FFFFFF;
    font-size: 125%;
}


#cardGame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    background: #a7a594;
    
    background-image: url('images/bg.png');
}

.uiContainer {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: fit-content;
    padding: 10px;
}
.uiContainer h1{
    text-align: center;
    color: #d3d3d3;

}
.interface {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #f4d8a8;
    color: #1c1c22;
    font-weight: 600;
    border-radius: 10px;
    width: fit-content;

    
    font-size: large;
    text-align: justify;
}

.interface h2 {
    text-align: center;
}

.announcement {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 40px;
    display: block;

    font-size: 200%;
    color: #FFFFFF;
    border-radius: 10px;
    width: 65%;
    text-align: center;
}

.announcement p {
    margin-top: 2px;
    float: left;
    display: block;
}

.announcement img {
    width: 100px;
    padding: 5px;
    float: left;
    vertical-align: top;
    margin-right: 10px;
    border-radius: 10px;
}

.choices{
    margin: auto;
    margin-top: 20px;
    width: 75%;
    display: flex;
}


button {
    font-family: 'GenshinFont', sans-serif;
    font-size: 155%;
    font-weight: 600;

    padding: 30px;
    margin-right: 15px;
    margin-left: 15px;

    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #5a4b31;
    border-radius: 10px;
    background-color: #f4d8a8;
    flex-grow: 100;

    transition: background-color 0.75s ease;
    transition: color 0.75s ease;
}

button:hover {
    border: none;
    transform: scale(1.05);
}

button:active, button:focus{
    outline-style:none;
}
